body {
    padding: 2rem 2 rem;
    font-family: "Courier New", Courier, monospace;
    font-size: 2rem;
    font-weight: 750;
}

/* Variable / Identificador */
.variable {
    color: dodgerblue;
}

/* Número enteros y reales */
.number {
    color: orangered;
}

/* Operador */
.operator {
    color: rebeccapurple;
}

/* Comentario */
.comment {
    color: gray;
}

/* Palabra reservada */
.reserved {
    color: hotpink;
}
